<?xml version="1.0"?>
<!--
/*
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU General Public License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/gpl-license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@zinrelo.com so we can send you a copy immediately.
 *
 * @category   Zinrelo
 * @package    Zinrelo_Extension
 * @copyright  Copyright (c) 2017 Zinrelo.
 * @license    http://opensource.org/licenses/gpl-license GNU General Public License
 */
-->
<config>
  <modules>
    <Zinrelo_Tracker>
      <version>1.0.0</version>
    </Zinrelo_Tracker>
  </modules>
  <global>
    <helpers>
      <tracker>
        <class>Zinrelo_Tracker_Helper</class>
      </tracker>
    </helpers>
		<blocks>
			<tracker>
				<class>Zinrelo_Tracker_Block</class>
			</tracker>
		</blocks>
		<resources>
			<tracker_setup>
				<setup>
					<module>Zinrelo_Extension</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</tracker_setup>
	  	<tracker_write>
				<connection>
		  		<use>core_write</use>
				</connection>
	  	</tracker_write>
	  	<tracker_read>
				<connection>
		  		<use>core_read</use>
				</connection>
	  	</tracker_read>
		</resources>
  </global>
	<frontend>
		<routers>
			<tracker>
				<use>standard</use>
				<args>
					<module>Zinrelo_Extension</module>
					<frontName>tracker</frontName>
				</args>
			</tracker>
		</routers>
		<layout>
			<updates>
				<tracker>
					<file>extension.xml</file>
				</tracker>
			</updates>
		</layout>
	</frontend>
</config> 